<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@//192.168.99.100:49161/xe</property>
        <property name="hibernate.connection.username">sentinel</property>
        <property name="hibernate.connection.password">sentinel</property>
    </session-factory>
    <!--<session-factory>-->
        <!--<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>-->
        <!--<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>-->
        <!--<property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/database</property>-->
        <!--<property name="hibernate.connection.username">Kuba</property>-->
        <!--<property name="hibernate.connection.password">politechnika</property>-->
    <!--</session-factory>-->
</hibernate-configuration>